/* ------------------------------------------- */
/* Basic setup */
/* ------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-size: 20px;
  font-weight: 300;
  font-family: "Lato", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* ------------------------------------------- */
/* Header section */
/* ------------------------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.maintext {
  font-weight: 300;
}

.logo {
  height: 120px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.logo-sticky {
  height: 50px;
  width: auto;
  float: left;
  display: none;
  margin: 5px 0;
}

/*----- Headings Section------*/

h1,
h2,
h3 {
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  text-align: center;
  margin-bottom: 30px;
  word-spacing: 2px;
}

h2:after {
  display: block;
  height: 2px;
  width: 100px;
  content: "";
  background-color: #e67e22;
  margin: auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* ------Main-Navigation Section------ */

.main-nav {
  float: right;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/* ------Sticky-Navigation Section------ */

.sticky .main-nav {
  margin-top: 20px;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 2px rgb(233, 233, 233);
  z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 16px 0;
  color: #555;
}

.sticky .logo-sticky {
  display: block;
}

.sticky .logo {
  display: none;
}

/* ----------------Mobile navigation section---------- */

.mobile-nav {
  float: right;
  margin-top: 20px;
  cursor: pointer;
  display: none;
}

.mobile-nav .mob {
  color: #fff;
  font-size: 200%;
}

.sticky .mobile-nav .mob {
  color: #555;
}

/*------ Buttons Section------*/

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #e67e22;
  border: 1.5px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1.5px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #bf6516;
  border: 1.5px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
  color: #fff;
}

/* ------------------------------------------- */
/* Reusable Components */
/* ------------------------------------------- */

.row {
  width: 1140px;
  margin: auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ------Icons Section------ */

.sec-logo {
  text-align: center;
}

.icon-big,
.sec-logo {
  display: block;
  font-size: 350%;
  color: #e67e22;
  margin-bottom: 10px;
}

.icon-small {
  color: #e67322;
  font-size: 120%;
  width: 30px;
  display: inline-block;
  text-align: center;
  line-height: 120%;
  margin-right: 10px;
}

/* ------Links Section------ */

a:link,
a:visited {
  color: #e67322;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67322;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ------Paragraphs Section------ */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ------------------------------------------- */
/* ------ Meals Section ------ */
/* ------------------------------------------- */

.section-meals {
  padding: 0;
}
.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}

/* ------------------------------------------- */
/* ------ How it works Section ------ */
/* ------------------------------------------- */

.section-steps {
  background-color: rgb(235, 230, 230);
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.work-steps {
  margin-bottom: 50px;
}

.work-steps div {
  color: #e67e22;
  border: 2px solid #e67322;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  float: left;
  padding: 5px;
  font-size: 150%;
  margin-right: 25px;
}

.work-steps:last-of-type {
  margin-bottom: 80px;
}

.btn-app:link,
.btn-visited {
  border: 0;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* ------------------------------------------- */
/* ------ Cities Section ------ */
/* ------------------------------------------- */

.box img {
  height: 160px;
  width: 100%;
  margin-bottom: 20px;
  transform: scale(1.03);
  transition: transform 0.5s;
}

.box img:hover {
  transform: scale(1);
}

.cities-feature {
  margin-bottom: 5px;
}

/* ------------------------------------------- */
/* ------ Testimonial Section ------ */
/* ------------------------------------------- */

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.719)),
    url(img/hero.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 50px;
}

blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -10px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* ------------------------------------------- */
/* ------ Signup & plans Section ------ */
/* ------------------------------------------- */

.section-plans {
  background-color: rgb(235, 230, 230);
}

.plan-box {
  border-radius: 20px;
  background-color: #fff;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 2px 2px rgb(196, 179, 179);
}

.plan-box div {
  padding: 15px;
  border-bottom: solid 1px rgb(226, 223, 223);
}

.plan-box div:first-of-type {
  background-color: #e67322;
  color: #fff;
  border-radius: 15px;
}

.plan-box div:last-of-type {
  text-align: center;
  border: none;
}

.plan-price {
  font-size: 250%;
  font-weight: 300;
}

.plan-price-meals {
  font-size: 80%;
}

.plan-price span {
  font-size: 50%;
  font-weight: 300;
  color: #555;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0;
}

/* ------------------------------------------- */
/* ------ Contact Form Section ------ */
/* ------------------------------------------- */

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/* ------------------------------------------- */
/* ------Footer Section ------ */
/* ------------------------------------------- */

footer {
  background-color: #333;
  padding: 50px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  color: #888;
  border: 0;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

footer p {
  text-align: center;
  color: #888;
  margin-top: 10px;
  font-size: 90%;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.facebook,
.twitter,
.instagram,
.googleplus {
  transition: color 0.2s;
}

.facebook:hover {
  color: #3b5998;
}

.twitter:hover {
  color: #55acee;
}

.instagram:hover {
  color: #517fa4;
}

.googleplus:hover {
  color: #dc4e41;
}

/* ------------------------------------------- */
/* ------Animation Section ------ */
/* ------------------------------------------- */

.wp--1,
.wp--2,
.wp--3 {
  opacity: 0;
}

.wp--1.animate__animated animate__fadeIn,
.wp--2.animate__animated animate__fadeInUp,
.wp--3.animate__animated animate__fadeInUp {
  opacity: 1;
}
